html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.excalidraw-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
    overflow: hidden;
}

